In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df_movies = pd.read_csv('./app/datasets/movies_imdb.csv')
df_movies = df_movies.dropna(subset=['plots', 'genres', 'directors', 'rating', 'runtimes', 'title', 'year'])
df_movies = df_movies.loc[:, ['genres']]
df_movies['movieId'] = df_movies.index
df_movies.head()

                                      genres  movieId
0  Animation|Adventure|Comedy|Family|Fantasy        0
1            Adventure|Comedy|Family|Fantasy        1
2                             Comedy|Romance        2
3                       Comedy|Drama|Romance        3
4                      Comedy|Family|Romance        4

AttributeError: 'DataFrame' object has no attribute 'str'

In [4]:
df_ratings = pd.read_csv('./app/datasets/ml-20m/ratings.csv')
#df_ratings = df_ratings[df_ratings['movieId'] in df_movies.index.values]
counts = df_ratings['userId'].value_counts() 
users = counts[counts == 200].index.values
df_ratings.shape
df_ratings['userId'].isin(users)

0           False
1           False
2           False
3           False
4           False
            ...
20000258    False
20000259    False
20000260    False
20000261    False
20000262    False
Name: userId, Length: 20000263, dtype: bool

In [6]:
df_ratings = df_ratings[df_ratings['userId'].isin(users)]

In [17]:
df_ratings

          userId  movieId  rating   timestamp
353439      2380        1     5.0   958865906
353440      2380        4     3.0   958869106
353441      2380       17     5.0   958866345
353442      2380       22     5.0   958868109
353443      2380       25     3.0   958866261
...          ...      ...     ...         ...
19903749  137817     7034     5.0  1085429706
19903750  137817     7143     4.0  1085429736
19903751  137817     7153     5.0  1085429517
19903752  137817     7163     4.0  1085430770
19903753  137817     7698     3.5  1085514610

[45400 rows x 4 columns]

In [7]:
df_ratings = pd.merge(df_ratings, df_movies, on='movieId')
n_ratings = df_ratings.shape[0]
n_movies = df_movies.shape[0]

In [21]:
def f2(df_ratings, i):
    mean = df_ratings[['movieId', 'rating']].groupby(['movieId']).mean()
    std = df_ratings[['movieId', 'rating']].groupby(['movieId']).std()
    f2 = (1/ (mean*((std+1)**2))).sum()
    return f2

rating    0.10207
dtype: float64

In [8]:
def pg2(df_ratings, u, g):
    i_u = df_ratings[df_ratings['userId'] == u]
    genres = i_u.genres.str.get_dummies()
    ng = genres[g].sum()
    n_i_u = i_u.shape[0]
    return ng/n_i_u

In [15]:
def pg1(df_ratings, u, g):
    genres = df_ratings.genres.str.get_dummies()
    ng = genres[g].sum()
    n_i_u = df_ratings.shape[0]
    return ng/n_i_u

In [13]:
pg1(df_ratings, 6485, 'Adventure')

NameError: name 'pg1' is not defined

In [9]:
counts = df_ratings['userId'].value_counts() 
users = counts[counts == 200].index.values
users[0]

97330

In [10]:
df_ratings = df_ratings[df_ratings['userId'] == 97330]
df_ratings.shape

(200, 5)

In [14]:
genres = df_ratings.genres.str.get_dummies()
genres['Adventure'].sum()

24

In [5]:
df_ratings['genres'].str.contains('Adventure')

KeyError: 'genres'

In [85]:
train, test = train_test_split(df_ratings, test_size=0.3)

In [89]:
recommender_list = test.sample(10)

In [93]:
def get_genres_from_list(a):
    return a['genres'].str.get_dummies().columns.values

In [ ]:
def p1